#### 1. df_upsample_simple_dup - simple duplicate upsample, 3000 samples, 35% label
#### 2. df_downsample - simple downsample, 1300 samples, 34% label
#### 3. df_upsample_dup_syn - duplicate upsample, 3000 samples, 35% label, replace every word with 10% probability with synonym

In [1]:
import pandas as pd
import nltk
import random
from sklearn.utils import resample
import copy
from sklearn.model_selection import train_test_split

In [2]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/weijiechua/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [40]:
save_path = "../datasets/balanced_data/"

In [3]:
df = pd.read_csv("df_preprocessing.csv", index_col=0)

In [4]:
df.head()

,par_id,art_id,keyword,country,text,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
0,1,@@24942188,hopeless,ph,"We 're living in times of absolute insanity , ...",0,0,"[0, 0, 0, 0, 0, 0, 0]",620,0,0,0,0,0,0,0
1,2,@@21968160,migrant,gh,"In Libya today , there are countless number of...",0,0,"[0, 0, 0, 0, 0, 0, 0]",237,0,0,0,0,0,0,0
2,3,@@16584954,immigrant,ie,"""White House press secretary Sean Spicer said ...",0,0,"[0, 0, 0, 0, 0, 0, 0]",162,0,0,0,0,0,0,0
3,4,@@7811231,disabled,nz,Council customers only signs would be displaye...,0,0,"[0, 0, 0, 0, 0, 0, 0]",162,0,0,0,0,0,0,0
4,5,@@1494111,refugee,ca,""""""" Just like we received migrants fleeing El ...",0,0,"[0, 0, 0, 0, 0, 0, 0]",277,0,0,0,0,0,0,0

In [5]:
df.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000
mean,5235.000000,0.094851,0.398605,267.582864,0.068392,0.018722,0.021397,0.021970,0.018817,0.044799,0.003821
std,3022.284318,0.293024,0.988935,160.209494,0.252430,0.135548,0.144709,0.146591,0.135886,0.206872,0.061697
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2618.000000,0.000000,0.000000,169.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5235.000000,0.000000,0.000000,233.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7852.000000,0.000000,0.000000,330.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10469.000000,1.000000,4.000000,5501.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df_train, df_test = train_test_split(df, test_size=0.3, shuffle=True, random_state=0)

In [7]:
print(df_train.shape)
print(df_test.shape)

(7328, 16)
(3141, 16)

In [13]:
df_train.to_csv(save_path + "df_train.csv")
#df_test.to_csv("df_test.csv")

In [14]:
df_cond = df_train[df_train['label'] == 1]
df_non_cond = df_train[df_train['label'] == 0]

In [15]:
print(df_non_cond.shape)
print(df_cond.shape)

(6652, 16)
(676, 16)

### 1. Upsample

In [16]:
df_cond_up = resample(df_cond, replace=True, n_samples=6000, random_state=0)

In [17]:
df_cond_up

,par_id,art_id,keyword,country,text,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
4814,4815,@@19566695,hopeless,gb,"The BBC is an invaluable , incomparable nation...",1,3,[1 0 0 0 0 0 0],301,1,0,0,0,0,0,0
7719,7720,@@20376720,disabled,pk,"In this photograph taken on December 6 , 2010 ...",1,3,[1 1 0 0 0 0 0],183,1,1,0,0,0,0,0
3386,3387,@@24695955,in-need,ie,Together they will bring more than 70 years of...,1,2,[1 0 0 0 0 0 0],294,1,0,0,0,0,0,0
1898,1899,@@4619315,women,bd,The Kalpana Chakma case demonstrates how subju...,1,4,[1 0 0 0 1 1 1],285,1,0,0,0,1,1,1
7309,7310,@@18976333,homeless,bd,Trauma burns deep for survivors as giant mudsl...,1,4,[0 0 1 0 1 1 0],190,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,823,@@20393839,in-need,ng,"""He said : """" We need improved security for ci...",1,3,[1 0 0 1 0 1 0],196,1,0,0,1,0,1,0
6055,6056,@@4702454,refugee,my,IdeaRaya spokesman Maryam Ramli Lee in an inte...,1,3,[1 1 1 0 1 1 0],328,1,1,1,0,1,1,0
5981,5982,@@4678421,in-need,pk,Talking to the media after reaching Islamabad ...,1,3,[1 0 0 0 0 0 0],268,1,0,0,0,0,0,0
2508,2509,@@1666430,homeless,us,"""2015 donation drives , feed the hungry , and ...",1,4,[1 0 0 0 0 0 0],281,1,0,0,0,0,0,0
3384,3385,@@16552147,in-need,my,Altho the ways in which he disappeared remains...,1,3,[1 0 0 0 1 0 0],385,1,0,0,0,1,0,0

In [52]:
#df_cond_up.to_csv(save_path + "condescending.csv")

In [18]:
df_list = [df_cond_up, df_non_cond, df_cond]
df_upsample_simple_dup = pd.concat(df_list)

In [19]:
df_upsample_simple_dup.shape

(13328, 16)

In [20]:
df_upsample_simple_dup.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000
mean,5224.021834,0.500900,1.696203,277.306423,0.360744,0.098739,0.116372,0.106543,0.103316,0.238445,0.020558
std,3050.988232,0.500018,1.678499,153.955788,0.480234,0.298323,0.320682,0.308542,0.304383,0.426149,0.141905
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2516.750000,0.000000,0.000000,173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5281.000000,1.000000,2.000000,244.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7884.250000,1.000000,3.000000,349.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10468.000000,1.000000,4.000000,2240.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
#df_upsample_simple_dup.to_csv(save_path +"df_upsample_simple_dup.csv")

In [ ]:
##

## 2. Downsample

In [23]:
print(df_non_cond.shape)
print(df_cond.shape)

(6652, 16)
(676, 16)

In [24]:
df_non_cond2  = df_non_cond.sample(n=676, random_state=0)

In [25]:
df_list = [df_cond, df_non_cond2]
df_downsample = pd.concat(df_list)

In [26]:
df_downsample.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000
mean,5275.399408,0.500000,1.683432,273.289201,0.355030,0.096154,0.119083,0.113905,0.102811,0.240385,0.022189
std,3043.532022,0.500185,1.668826,150.151244,0.478699,0.294911,0.324006,0.317814,0.303824,0.427475,0.147353
min,26.000000,0.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2641.750000,0.000000,0.000000,169.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5364.000000,0.500000,1.500000,243.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7884.250000,1.000000,3.000000,339.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10468.000000,1.000000,4.000000,908.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [28]:
#df_downsample.to_csv(save_path + "df_downsample.csv")

## 3. Wordnet Synonym

In [29]:
from nltk.corpus import wordnet
from nltk.corpus import stopwords
from nltk.corpus import wordnet as wn

In [30]:
stop_word = stopwords.words('english')

In [31]:
def generate_synonyms(word):

    word_set = set()

    for syn in wn.synsets(word):
        for lemma in syn.lemmas():
            synonym = lemma.name().replace("_", " ").replace("-", " ").lower()
            word_set.add(synonym)

    if word in word_set:
        word_set.remove(word)

    return list(word_set)

"""

def replace_synonyms(sentence, n, stop_word):
    word_list = sentence.split()
    new_sentence = copy.deepcopy(sentence)

    random_word_list = list(set([word for word in word_list if word not in stop_word]))
    random.shuffle(random_word_list)
    replaced_word_no = 0

    for random_word in random_word_list:

        if replaced_word_no > n:
            break

        syn_list = generate_synonyms(random_word)

        if len(syn_list) >= 1:
            replaced_word = random.choice(syn_list)
            new_sentence_list = [replaced_word if word == random_word else word for word in new_sentence]
            replaced_word_no += 1
    
    new_sentence = ''.join(new_sentence_list)

    return new_sentence
"""

def replace_synonyms(sentence, n, stop_word):
    word_list = sentence.split()

    new_sentence_list = []
    replaced_word_no = 0
    for word in word_list:
        p = random.randint(0, 1)
        if p <= 0.1:
            syn_list = generate_synonyms(word)
            if len(syn_list) >= 1:
                replaced_word = random.choice(syn_list)
                new_sentence_list.append(replaced_word)
                replaced_word_no += 1
            else:
                new_sentence_list.append(word)

        else:
            new_sentence_list.append(word)
            continue

    new_sentence_r = ' '.join(new_sentence_list) 
    return new_sentence_r

    for random_word in random_word_list:

        if replaced_word_no > n:
            break

        syn_list = generate_synonyms(random_word)

        if len(syn_list) >= 1:
            replaced_word = random.choice(syn_list)
            new_sentence_list = [replaced_word if word == random_word else word for word in new_sentence]
            replaced_word_no += 1
    
    new_sentence = ''.join(new_sentence_list)

    return new_sentence

In [32]:
df_cond_up['text_new'] = df_cond_up.apply(lambda x: replace_synonyms(x['text'], x['len_text'], stop_word), axis=1)

/var/folders/qk/lxtkcfz111s0q71dflzrr_zm0000gn/T/ipykernel_23736/329397497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cond_up['text_new'] = df_cond_up.apply(lambda x: replace_synonyms(x['text'], x['len_text'], stop_word), axis=1)

In [33]:
df_cond_up

,par_id,art_id,keyword,country,text,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier,text_new
4814,4815,@@19566695,hopeless,gb,"The BBC is an invaluable , incomparable nation...",1,3,[1 0 0 0 0 0 0],301,1,0,0,0,0,0,0,"The BBC is an invaluable , incomparable home a..."
7719,7720,@@20376720,disabled,pk,"In this photograph taken on December 6 , 2010 ...",1,3,[1 1 0 0 0 0 0],183,1,1,0,0,0,0,0,"In this shoot hire along december 6 , 2010 Abd..."
3386,3387,@@24695955,in-need,ie,Together they will bring more than 70 years of...,1,2,[1 0 0 0 0 0 0],294,1,0,0,0,0,0,0,Together they testament bring more than 70 old...
1898,1899,@@4619315,women,bd,The Kalpana Chakma case demonstrates how subju...,1,4,[1 0 0 0 1 1 1],285,1,0,0,0,1,1,1,The Kalpana Chakma case demonstrates how subdu...
7309,7310,@@18976333,homeless,bd,Trauma burns deep for survivors as giant mudsl...,1,4,[0 0 1 0 1 1 0],190,0,0,1,0,1,1,0,harm burn off oceanic abyss for survivors arse...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,823,@@20393839,in-need,ng,"""He said : """" We need improved security for ci...",1,3,[1 0 0 1 0 1 0],196,1,0,0,1,0,1,0,"""He aforesaid : """" We indigence meliorate secu..."
6055,6056,@@4702454,refugee,my,IdeaRaya spokesman Maryam Ramli Lee in an inte...,1,3,[1 1 1 0 1 1 0],328,1,1,1,0,1,1,0,IdeaRaya spokesman Maryam Ramli Lee in an ques...
5981,5982,@@4678421,in-need,pk,Talking to the media after reaching Islamabad ...,1,3,[1 0 0 0 0 0 0],268,1,0,0,0,0,0,0,Talking to the media after pass on islamabad a...
2508,2509,@@1666430,homeless,us,"""2015 donation drives , feed the hungry , and ...",1,4,[1 0 0 0 0 0 0],281,1,0,0,0,0,0,0,"""2015 donation motor , tip the hungry , and of..."
3384,3385,@@16552147,in-need,my,Altho the ways in which he disappeared remains...,1,3,[1 0 0 0 1 0 0],385,1,0,0,0,1,0,0,Altho the way of life in which atomic number 2...

In [167]:
#df_cond_up.to_csv("df_cond_up.csv")

In [168]:
#df_cond_up[df_cond_up['text'] != df_cond_up['text_new']].to_csv("check.csv")

In [34]:
df_cond_up = df_cond_up.drop(columns=['text'])
df_cond_up.rename(columns={'text_new':'text'}, inplace=True)

In [35]:
df_cond_up.head()

,par_id,art_id,keyword,country,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier,text
4814,4815,@@19566695,hopeless,gb,1,3,[1 0 0 0 0 0 0],301,1,0,0,0,0,0,0,"The BBC is an invaluable , incomparable home a..."
7719,7720,@@20376720,disabled,pk,1,3,[1 1 0 0 0 0 0],183,1,1,0,0,0,0,0,"In this shoot hire along december 6 , 2010 Abd..."
3386,3387,@@24695955,in-need,ie,1,2,[1 0 0 0 0 0 0],294,1,0,0,0,0,0,0,Together they testament bring more than 70 old...
1898,1899,@@4619315,women,bd,1,4,[1 0 0 0 1 1 1],285,1,0,0,0,1,1,1,The Kalpana Chakma case demonstrates how subdu...
7309,7310,@@18976333,homeless,bd,1,4,[0 0 1 0 1 1 0],190,0,0,1,0,1,1,0,harm burn off oceanic abyss for survivors arse...

In [36]:
df_list = [df_cond_up, df_non_cond, df_cond]
df_upsample_dup_syn = pd.concat(df_list)

In [38]:
#df_upsample_dup_syn.to_csv(save_path + "df_upsample_dup_syn.csv")

In [39]:
df_upsample_dup_syn.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000,13328.000000
mean,5224.021834,0.500900,1.696203,277.306423,0.360744,0.098739,0.116372,0.106543,0.103316,0.238445,0.020558
std,3050.988232,0.500018,1.678499,153.955788,0.480234,0.298323,0.320682,0.308542,0.304383,0.426149,0.141905
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2516.750000,0.000000,0.000000,173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5281.000000,1.000000,2.000000,244.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7884.250000,1.000000,3.000000,349.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10468.000000,1.000000,4.000000,2240.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [174]:
df_upsample_dup_syn

,par_id,art_id,keyword,country,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier,text
4814,4815,@@19566695,hopeless,gb,1,3,[1 0 0 0 0 0 0],301,1,0,0,0,0,0,0,"The BBC comprise an priceless , uncomparable i..."
7719,7720,@@20376720,disabled,pk,1,3,[1 1 0 0 0 0 0],183,1,1,0,0,0,0,0,In this photo taken along December captain hic...
3386,3387,@@24695955,in-need,ie,1,2,[1 0 0 0 0 0 0],294,1,0,0,0,0,0,0,unitedly they will bring more than 70 years of...
1898,1899,@@4619315,women,bd,1,4,[1 0 0 0 1 1 1],285,1,0,0,0,1,1,1,The Kalpana Chakma case certify how subjugatin...
7309,7310,@@18976333,homeless,bd,1,4,[0 0 1 0 1 1 0],190,0,0,1,0,1,1,0,psychic trauma cauterize mystifying for surviv...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,1208,@@1812127,vulnerable,ng,1,4,[1 0 1 1 1 1 0],843,1,0,1,1,1,1,0,It is written in Ecclessiastes in the Bible th...
714,715,@@1852135,disabled,ke,1,2,[1 1 0 0 0 0 0],150,1,1,0,0,0,0,0,Mombasa county team manager Anisa Abdala calle...
797,798,@@2577871,homeless,sg,1,4,[1 1 0 0 1 1 0],320,1,1,0,0,1,1,0,"I have a dream journal . Sometimes , I create ..."
3264,3265,@@1896685,vulnerable,tz,1,4,[1 0 0 1 0 0 0],243,1,0,0,1,0,0,0,The Turkish Ambassador to Tanzania Ali Davutog...
9845,9846,@@4521781,homeless,jm,1,4,[0 1 0 0 1 1 0],86,0,1,0,0,1,1,0,News <h> From homeless to hopeful <h> Portland...