#### 1. df_upsample_simple_dup - simple duplicate upsample, 3000 samples of minority classes, 35% label
#### 2. df_downsample - simple downsample, 1300 samples total, 34% label
#### 3. df_upsample_dup_syn - duplicate upsample, 3000 samples of minority classes, 35% label, replace every word with 10% probability with synonym

In [52]:
import pandas as pd
import nltk
import random
from sklearn.utils import resample
import copy
from sklearn.model_selection import train_test_split

In [53]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/weijiechua/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [54]:
save_path = "../datasets/"

In [55]:
df = pd.read_csv("../datasets/raw_data/df_preprocessing.csv", index_col=0)

In [56]:
df.head()

,par_id,art_id,keyword,country,text,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
0,1,@@24942188,hopeless,ph,"We 're living in times of absolute insanity , ...",0,0,"[0, 0, 0, 0, 0, 0, 0]",620,0,0,0,0,0,0,0
1,2,@@21968160,migrant,gh,"In Libya today , there are countless number of...",0,0,"[0, 0, 0, 0, 0, 0, 0]",237,0,0,0,0,0,0,0
2,3,@@16584954,immigrant,ie,"""White House press secretary Sean Spicer said ...",0,0,"[0, 0, 0, 0, 0, 0, 0]",162,0,0,0,0,0,0,0
3,4,@@7811231,disabled,nz,Council customers only signs would be displaye...,0,0,"[0, 0, 0, 0, 0, 0, 0]",162,0,0,0,0,0,0,0
4,5,@@1494111,refugee,ca,""""""" Just like we received migrants fleeing El ...",0,0,"[0, 0, 0, 0, 0, 0, 0]",277,0,0,0,0,0,0,0

In [57]:
df.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000,10469.000000
mean,5235.000000,0.094851,0.398605,267.582864,0.068392,0.018722,0.021397,0.021970,0.018817,0.044799,0.003821
std,3022.284318,0.293024,0.988935,160.209494,0.252430,0.135548,0.144709,0.146591,0.135886,0.206872,0.061697
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2618.000000,0.000000,0.000000,169.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5235.000000,0.000000,0.000000,233.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7852.000000,0.000000,0.000000,330.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10469.000000,1.000000,4.000000,5501.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [58]:
df_train, df_test = train_test_split(df, test_size=0.3, shuffle=True, random_state=0)
df_val, df_test = train_test_split(df_test, test_size=0.5, shuffle=True, random_state=0)

In [59]:
print(df_train.shape)
print(df_val.shape)
print(df_test.shape)

(7328, 16)
(1570, 16)
(1571, 16)

In [60]:
#df_train.to_csv(save_path + "df_train.csv")
#df_val.to_csv(save_path + "df_val.csv")
#df_test.to_csv(save_path + "df_test.csv")

In [61]:
df_cond = df_train[df_train['label'] == 1]
df_non_cond = df_train[df_train['label'] == 0]

In [62]:
print(df_non_cond.shape)
print(df_cond.shape)

(6652, 16)
(676, 16)

### 1. Upsample

In [69]:
df_cond_up = resample(df_cond, replace=True, n_samples=3000, random_state=0)

In [70]:
df_cond_up

,par_id,art_id,keyword,country,text,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
4814,4815,@@19566695,hopeless,gb,"The BBC is an invaluable , incomparable nation...",1,3,[1 0 0 0 0 0 0],301,1,0,0,0,0,0,0
7719,7720,@@20376720,disabled,pk,"In this photograph taken on December 6 , 2010 ...",1,3,[1 1 0 0 0 0 0],183,1,1,0,0,0,0,0
3386,3387,@@24695955,in-need,ie,Together they will bring more than 70 years of...,1,2,[1 0 0 0 0 0 0],294,1,0,0,0,0,0,0
1898,1899,@@4619315,women,bd,The Kalpana Chakma case demonstrates how subju...,1,4,[1 0 0 0 1 1 1],285,1,0,0,0,1,1,1
7309,7310,@@18976333,homeless,bd,Trauma burns deep for survivors as giant mudsl...,1,4,[0 0 1 0 1 1 0],190,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6872,6873,@@24134544,homeless,gh,"According to her , she established Royal Seed ...",1,4,[1 0 1 0 0 1 0],125,1,0,1,0,0,1,0
4059,4060,@@8618742,refugee,za,UNICEF Afghanistan/AFP / Mahdy MehraeenAfghan ...,1,2,[1 1 0 0 1 1 0],321,1,1,0,0,1,1,0
2842,2843,@@23235127,immigrant,bd,"The problem of what to do about the Dreamers ,...",1,4,[0 0 0 0 0 1 0],214,0,0,0,0,0,1,0
8122,8123,@@22850364,in-need,lk,"""Dinu had developed a theme of life . It was ,...",1,3,[1 0 0 1 0 1 1],603,1,0,0,1,0,1,1
6820,6821,@@2718131,hopeless,za,"That is the big picture , the one conveyed in ...",1,4,[1 0 1 0 0 1 0],234,1,0,1,0,0,1,0

In [71]:
#df_cond_up.to_csv(save_path + "condescending.csv")

In [72]:
df_list = [df_cond_up, df_non_cond, df_cond]
df_upsample_simple_dup = pd.concat(df_list)

In [73]:
df_upsample_simple_dup.shape

(10328, 16)

In [74]:
df_upsample_simple_dup.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000
mean,5221.243997,0.355926,1.240705,273.593338,0.258327,0.070875,0.082204,0.075716,0.072715,0.171282,0.014427
std,3051.644672,0.478816,1.604547,152.449260,0.437736,0.256629,0.274688,0.264557,0.259681,0.376773,0.119248
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2556.750000,0.000000,0.000000,172.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5268.000000,0.000000,0.000000,239.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7889.250000,1.000000,3.000000,342.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10468.000000,1.000000,4.000000,2240.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [75]:
#df_upsample_simple_dup.to_csv(save_path +"df_upsample_simple_dup.csv")

In [76]:
##

## 2. Downsample

In [77]:
print(df_non_cond.shape)
print(df_cond.shape)

(6652, 16)
(676, 16)

In [78]:
df_non_cond2  = df_non_cond.sample(n=676, random_state=0)

In [79]:
df_list = [df_cond, df_non_cond2]
df_downsample = pd.concat(df_list)

In [80]:
df_downsample.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000
mean,5275.399408,0.500000,1.683432,273.289201,0.355030,0.096154,0.119083,0.113905,0.102811,0.240385,0.022189
std,3043.532022,0.500185,1.668826,150.151244,0.478699,0.294911,0.324006,0.317814,0.303824,0.427475,0.147353
min,26.000000,0.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2641.750000,0.000000,0.000000,169.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5364.000000,0.500000,1.500000,243.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7884.250000,1.000000,3.000000,339.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10468.000000,1.000000,4.000000,908.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [81]:
#df_downsample.to_csv(save_path + "df_downsample.csv")

## 3. Wordnet Synonym

In [82]:
from nltk.corpus import wordnet
from nltk.corpus import stopwords
from nltk.corpus import wordnet as wn

In [83]:
stop_word = stopwords.words('english')

In [84]:
def generate_synonyms(word):

    word_set = set()

    for syn in wn.synsets(word):
        for lemma in syn.lemmas():
            synonym = lemma.name().replace("_", " ").replace("-", " ").lower()
            word_set.add(synonym)

    if word in word_set:
        word_set.remove(word)

    return list(word_set)

"""

def replace_synonyms(sentence, n, stop_word):
    word_list = sentence.split()
    new_sentence = copy.deepcopy(sentence)

    random_word_list = list(set([word for word in word_list if word not in stop_word]))
    random.shuffle(random_word_list)
    replaced_word_no = 0

    for random_word in random_word_list:

        if replaced_word_no > n:
            break

        syn_list = generate_synonyms(random_word)

        if len(syn_list) >= 1:
            replaced_word = random.choice(syn_list)
            new_sentence_list = [replaced_word if word == random_word else word for word in new_sentence]
            replaced_word_no += 1
    
    new_sentence = ''.join(new_sentence_list)

    return new_sentence
"""

def replace_synonyms(sentence, n, stop_word, prob_threshold=0.1):
    word_list = sentence.split()

    new_sentence_list = []
    replaced_word_no = 0
    for word in word_list:
        p = random.randint(0, 1)
        if p <= prob_threshold:
            syn_list = generate_synonyms(word)
            if len(syn_list) >= 1:
                replaced_word = random.choice(syn_list)
                new_sentence_list.append(replaced_word)
                replaced_word_no += 1
            else:
                new_sentence_list.append(word)

        else:
            new_sentence_list.append(word)
            continue

    new_sentence_r = ' '.join(new_sentence_list) 
    return new_sentence_r

    for random_word in random_word_list:

        if replaced_word_no > n:
            break

        syn_list = generate_synonyms(random_word)

        if len(syn_list) >= 1:
            replaced_word = random.choice(syn_list)
            new_sentence_list = [replaced_word if word == random_word else word for word in new_sentence]
            replaced_word_no += 1
    
    new_sentence = ''.join(new_sentence_list)

    return new_sentence

In [85]:
df_cond_up['text_new'] = df_cond_up.apply(lambda x: replace_synonyms(x['text'], x['len_text'], stop_word), axis=1)

/var/folders/qk/lxtkcfz111s0q71dflzrr_zm0000gn/T/ipykernel_49162/329397497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cond_up['text_new'] = df_cond_up.apply(lambda x: replace_synonyms(x['text'], x['len_text'], stop_word), axis=1)

In [86]:
df_cond_up

,par_id,art_id,keyword,country,text,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier,text_new
4814,4815,@@19566695,hopeless,gb,"The BBC is an invaluable , incomparable nation...",1,3,[1 0 0 0 0 0 0],301,1,0,0,0,0,0,0,"The BBC is an invaluable , uncomparable nation..."
7719,7720,@@20376720,disabled,pk,"In this photograph taken on December 6 , 2010 ...",1,3,[1 1 0 0 0 0 0],183,1,1,0,0,0,0,0,"In this photo use up on December 6 , 2010 Abdu..."
3386,3387,@@24695955,in-need,ie,Together they will bring more than 70 years of...,1,2,[1 0 0 0 0 0 0],294,1,0,0,0,0,0,0,Together they will impart thomas more than 70 ...
1898,1899,@@4619315,women,bd,The Kalpana Chakma case demonstrates how subju...,1,4,[1 0 0 0 1 1 1],285,1,0,0,0,1,1,1,The Kalpana Chakma fount present how subjugati...
7309,7310,@@18976333,homeless,bd,Trauma burns deep for survivors as giant mudsl...,1,4,[0 0 1 0 1 1 0],190,0,0,1,0,1,1,0,Trauma burns cryptic for survivor angstrom hul...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6872,6873,@@24134544,homeless,gh,"According to her , she established Royal Seed ...",1,4,[1 0 1 0 0 1 0],125,1,0,1,0,0,1,0,"fit in to her , she established Royal Seed abo..."
4059,4060,@@8618742,refugee,za,UNICEF Afghanistan/AFP / Mahdy MehraeenAfghan ...,1,2,[1 1 0 0 1 1 0],321,1,1,0,0,1,1,0,UNICEF Afghanistan/AFP / Mahdy MehraeenAfghan ...
2842,2843,@@23235127,immigrant,bd,"The problem of what to do about the Dreamers ,...",1,4,[0 0 0 0 0 1 0],214,0,0,0,0,0,1,0,The problem of what to answer more or less the...
8122,8123,@@22850364,in-need,lk,"""Dinu had developed a theme of life . It was ,...",1,3,[1 0 0 1 0 1 1],603,1,0,0,1,0,1,1,"""Dinu ingest produce angstrom unit root word o..."
6820,6821,@@2718131,hopeless,za,"That is the big picture , the one conveyed in ...",1,4,[1 0 1 0 0 1 0],234,1,0,1,0,0,1,0,"That is the big icon , the ane conveyed indium..."

In [87]:
#df_cond_up.to_csv("df_cond_up.csv")

In [88]:
#df_cond_up[df_cond_up['text'] != df_cond_up['text_new']].to_csv("check.csv")

In [89]:
df_cond_up = df_cond_up.drop(columns=['text'])
df_cond_up.rename(columns={'text_new':'text'}, inplace=True)

In [90]:
df_cond_up.head()

,par_id,art_id,keyword,country,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier,text
4814,4815,@@19566695,hopeless,gb,1,3,[1 0 0 0 0 0 0],301,1,0,0,0,0,0,0,"The BBC is an invaluable , uncomparable nation..."
7719,7720,@@20376720,disabled,pk,1,3,[1 1 0 0 0 0 0],183,1,1,0,0,0,0,0,"In this photo use up on December 6 , 2010 Abdu..."
3386,3387,@@24695955,in-need,ie,1,2,[1 0 0 0 0 0 0],294,1,0,0,0,0,0,0,Together they will impart thomas more than 70 ...
1898,1899,@@4619315,women,bd,1,4,[1 0 0 0 1 1 1],285,1,0,0,0,1,1,1,The Kalpana Chakma fount present how subjugati...
7309,7310,@@18976333,homeless,bd,1,4,[0 0 1 0 1 1 0],190,0,0,1,0,1,1,0,Trauma burns cryptic for survivor angstrom hul...

In [91]:
df_list = [df_cond_up, df_non_cond, df_cond]
df_upsample_dup_syn = pd.concat(df_list)

In [92]:
#df_upsample_dup_syn.to_csv(save_path + "df_upsample_dup_syn.csv")

In [93]:
df_upsample_dup_syn.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000,10328.000000
mean,5221.243997,0.355926,1.240705,273.593338,0.258327,0.070875,0.082204,0.075716,0.072715,0.171282,0.014427
std,3051.644672,0.478816,1.604547,152.449260,0.437736,0.256629,0.274688,0.264557,0.259681,0.376773,0.119248
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2556.750000,0.000000,0.000000,172.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5268.000000,0.000000,0.000000,239.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7889.250000,1.000000,3.000000,342.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10468.000000,1.000000,4.000000,2240.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [94]:
df_upsample_dup_syn

,par_id,art_id,keyword,country,label,orig_label,label_class,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier,text
4814,4815,@@19566695,hopeless,gb,1,3,[1 0 0 0 0 0 0],301,1,0,0,0,0,0,0,"The BBC is an invaluable , uncomparable nation..."
7719,7720,@@20376720,disabled,pk,1,3,[1 1 0 0 0 0 0],183,1,1,0,0,0,0,0,"In this photo use up on December 6 , 2010 Abdu..."
3386,3387,@@24695955,in-need,ie,1,2,[1 0 0 0 0 0 0],294,1,0,0,0,0,0,0,Together they will impart thomas more than 70 ...
1898,1899,@@4619315,women,bd,1,4,[1 0 0 0 1 1 1],285,1,0,0,0,1,1,1,The Kalpana Chakma fount present how subjugati...
7309,7310,@@18976333,homeless,bd,1,4,[0 0 1 0 1 1 0],190,0,0,1,0,1,1,0,Trauma burns cryptic for survivor angstrom hul...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,1208,@@1812127,vulnerable,ng,1,4,[1 0 1 1 1 1 0],843,1,0,1,1,1,1,0,It is written in Ecclessiastes in the Bible th...
714,715,@@1852135,disabled,ke,1,2,[1 1 0 0 0 0 0],150,1,1,0,0,0,0,0,Mombasa county team manager Anisa Abdala calle...
797,798,@@2577871,homeless,sg,1,4,[1 1 0 0 1 1 0],320,1,1,0,0,1,1,0,"I have a dream journal . Sometimes , I create ..."
3264,3265,@@1896685,vulnerable,tz,1,4,[1 0 0 1 0 0 0],243,1,0,0,1,0,0,0,The Turkish Ambassador to Tanzania Ali Davutog...
9845,9846,@@4521781,homeless,jm,1,4,[0 1 0 0 1 1 0],86,0,1,0,0,1,1,0,News <h> From homeless to hopeful <h> Portland...

### 4. Updown sample

In [95]:
df_cond = df_train[df_train['label'] == 1]
df_non_cond = df_train[df_train['label'] == 0]

In [96]:
# need to run the code below first (the function with replace_synonyms )
df_cond_up = resample(df_cond, replace=True, n_samples=676, random_state=0)
df_cond_up['text'] = df_cond_up.apply(lambda x: replace_synonyms(x['text'], x['len_text'], stop_word, prob_threshold=0.3), axis=1)
df_non_cond2  = df_non_cond.sample(n=676*4, random_state=0)

In [97]:
#df_cond_up.to_csv("df_train_minority.csv")

In [98]:
df_list = [df_cond_up, df_non_cond2, df_cond]
df_updown_sample = pd.concat(df_list)

In [54]:
#df_updown_sample.to_csv("df_updown_sample.csv")
#df_val.to_csv("df_val.csv")
#df_test.to_csv("df_test.csv")

In [99]:
#df_updown_sample = pd.read_csv("../datasets/updown_data/df_updown_sample.csv")

In [100]:
df_updown_sample.describe()

,par_id,label,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000
mean,5195.111933,0.333333,1.161489,273.739152,0.234467,0.064349,0.079389,0.073718,0.068047,0.157544,0.014053
std,3036.562001,0.471463,1.566387,153.581047,0.423718,0.245404,0.270378,0.261344,0.251858,0.364358,0.117725
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2568.500000,0.000000,0.000000,170.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5214.000000,0.000000,0.000000,239.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7829.500000,1.000000,3.000000,341.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10468.000000,1.000000,4.000000,1512.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### 5. Updown with augmentation

In [101]:
df_cond = df_train[df_train['label'] == 1]
df_non_cond = df_train[df_train['label'] == 0]

In [102]:
df_non_cond2  = df_non_cond.sample(n=676*4, random_state=0)

In [103]:
!pwd

/Users/weijiechua/Desktop/ImperialClasses/Courses/secondterm/nlp/coursework/Patronizing-Language-Detection/Jupyter

In [105]:
df_cond_up = pd.read_csv("../datasets/intermediate_data/paraphrased.csv")
df_list = [df_cond_up, df_non_cond2, df_cond]
df_updown_paraphrased = pd.concat(df_list)

In [106]:
#df_updown_paraphrased.to_csv("df_updown_paraphrased.csv")

In [107]:
df_cond_up = pd.read_csv("../datasets/intermediate_data/syn_and_para.csv")
df_list = [df_cond_up, df_non_cond2, df_cond]
df_updown_syn_and_para = pd.concat(df_list)

In [108]:
#df_updown_syn_and_para.to_csv("df_updown_syn_and_para.csv")

In [110]:
df_cond_up = pd.read_csv("../datasets/intermediate_data/syn_replace.csv")
df_list = [df_cond_up, df_non_cond2, df_cond]
df_updown_syn_replace = pd.concat(df_list)

In [111]:
#df_updown_syn_replace.to_csv("df_updown_syn_replace.csv")

In [112]:
df_updown_paraphrased.describe()

,Unnamed: 0,label,par_id,orig_label,len_text,unbalanced_power,shallow_solution,presupposition,authority_voice,metaphor,compassion,the_poorer_merrier
count,675.000000,4055.000000,3380.000000,3380.000000,3380.000000,3380.000000,3380.000000,3380.000000,3380.000000,3380.000000,3380.000000,3380.000000
mean,5144.937778,0.333169,5204.397633,0.737574,270.709763,0.142012,0.038462,0.047633,0.045562,0.041124,0.096154,0.008876
std,3117.416073,0.471404,3020.824581,1.329456,151.937730,0.349114,0.192336,0.213020,0.208564,0.198607,0.294846,0.093806
min,41.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2277.000000,0.000000,2598.500000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5272.000000,0.000000,5202.000000,0.000000,237.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7845.000000,1.000000,7817.250000,1.000000,335.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10466.000000,1.000000,10468.000000,4.000000,1512.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000